* {
    padding: 0;
    margin: 0;
}

.background {
    background-color: #12181B;
    padding: 0;
    margin: 0;
    min-height: 100%;
}

.title {
    color: white;
    text-align: center;
    font-size: 40px;
    margin-top: 3%;
}

.display {
    color: white;
    font-size: 25px;
    text-align: center;
    margin-top: 1em;
    margin-bottom: 1em;
}

.hide {
    display: none;
}

.container {
    margin: 0 auto;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 33% 33% 33%;
    max-width: 300px;

}

.tile {
    border: 1px solid white;
    min-width: 100px;
    min-height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    cursor: pointer;
}

.playerX {
    color: #09C372;
}

.playerO {
    color: #498AFB;
}

.controls {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 1em;
}

.controls button {
    color: white;
    padding: 8px;
    border-radius: 8px;
    border: none;
    font-size: 20px;
    margin-left: 1em;
    cursor: pointer;
}

.restart {
    background-color: #498AFB;
}

#reset {
    background-color: #FF3860;
    margin: 10px;
}

/* CSS */
.button-4 {
    background-color:#12181B; 
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 6px;
    box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0, rgba(255, 255, 255, 0.25) 0 1px 0 inset;
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    display: inline-block;
    font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    font-size: 15px;
    font-weight: 500;
    line-height: 20px;
    padding: 10px 10px;
    position: relative;
    top: 20px;
    left: 20;
    touch-action: manipulation;
    vertical-align: middle;
    word-wrap: break-word;
    
}
  
.button-4:hover {
    background-color:#4a545f ;
}

@media (max-width: 768px) {
    .title { 
        margin-top: 30px;
    }
}
